.wholeview-navigation {
  display: flex;
  position: fixed;
  background: transparent;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.wholeview-navigation.show {
  opacity: 1;
}

.halfview {
  position: relative;
  width: 50%;
  padding: 1.5rem;
  display: flex;
  align-items: center;
}

.halfview h5 {
  color: var(--metal-blue);
  font-size: 1rem;
  font-weight: 700;
  font-family: var(--font-cabin);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 30px 0;
}

.halfview h5 i {
  margin: 0 10px 0 0;
}

.left {
  background: var(--teal-bg);
}
.right {
  background: var(--teal-bg-sub);
}

.core-navigation, .core-contact {
  color: #FFFFFF;
  max-width: 520px;
  margin: 0 auto;
  height: 300px;
}

.core-navigation h3, .core-contact h3 {
  font-size: 2.2rem;
  font-family: var(--font-lora);
}

.micro-navsocial {
  margin: 20px 0 0 0;
  display: flex;
}

.micro-navsocial li {
  font-family: var(--font-cabin);
  font-size: 1em;
  font-weight: 800;
  letter-spacing: 0.1rem;
  margin-left: 1.7em;
  position: relative;
}

.micro-navsocial li:first-child {
  margin-left: 0;
}
.micro-navsocial li:after {
  content: '';
  position: absolute;
  display: block;
  height: 0.4em;
  width: 0.4em;
  background: #FFF;
  border-radius: 50%;
  right: -1em;
  top: 50%;
  transform: translate(0, -50%);
}

.micro-navsocial li:last-child:after {
  display: none;
}

.micro-navsocial li > a {
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all ease 300ms;
}

.micro-navsocial li > a:hover {
  color: var(--orange);
}

.core-links {
  margin-bottom: 10px;
}

.core-humbermenu--container {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 1;
  padding: 1.5rem;
}

.hm--wrapper-box {
  height: 46px;
  width: 46px;
  background: #FFFFFF;
  border-radius: 50%;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.hm-a-lines--wrapper {
  position: relative;
  width: 26px;
  height: 26px;
}

.hm-a-lines--wrapper .lines {
  height: 26px;
  width: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
}


.open .a--lines {
  height: 2px;
  width: 16px;
  background: var(--teal-bg);
  display: block;
  margin-top: 2px;
  animation: open-in 0.3s cubic-bezier(0.38, 0.88, 0.67, 1.16) 0.3s 1 normal forwards;
  transform: scaleX(0);
}

.open .a--lines:nth-child(2) {
  animation-delay: 360ms;
}

.open .a--lines:nth-child(3) {
  animation-delay: 420ms;
}

.nav--wrapper.isopen .open .a--lines {
  animation: open-in-out 400ms linear 0s 1 normal forwards;
  transform: scaleX(1) translate(0);
}

.nav--wrapper.isopen .open .a--lines:nth-child(1) {
  animation-delay: 160ms;
}

.nav--wrapper.isopen .open .a--lines:nth-child(2) {
  animation-delay: 100ms;
  animation-name: open-in-out-2;
}

.nav--wrapper.isopen .open .a--lines:nth-child(2) {
  animation-delay: 0;
  animation-timing-function: linear;
}

.hm-a-lines--wrapper .close {
  transform: rotate(45deg);
}

.close .a--lines {
  background: var(--teal-bg);
  position: absolute;
}


.close .a--lines:nth-child(1) {
  width: 2px;
  height: 16px;
  animation: close-out-1 0.3s linear 0.1s 1 normal forwards;
  transform: scaleY(0);
}

.close .a--lines:nth-child(2) {
  width: 16px;
  height: 2px;
  animation: close-out-2 0.3s linear 0s 1 normal forwards;
  transform: scaleX(0);
}

.nav--wrapper.isopen .close .a--lines:nth-child(1) {
  animation: close-in-1 0.3s linear 0.6s 1 normal forwards;
}

.nav--wrapper.isopen .close .a--lines:nth-child(2) {
  animation: close-in-2 0.3s cubic-bezier(0.23, 0.82, 0.67, 1.16) 0.5s 1 normal forwards;
}
